<div class="col">
    <div class="card shadow-sm">
        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src={{this.entry.image}}>
        <div class="card-body">
        <h2>{{this.entry.tittle}}</h2>
        <p class="card-text">{{this.entry.description}}</p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
            <button routerLink="{{'entry/'+this.entry.id}}" type="button" class="btn btn-sm btn-outline-secondary">View</button>
            <button routerLink="{{'entry/edit/'+this.entry.id}}" type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
        </div>
        </div>
    </div>
</div>